@import url(https://fonts.google.com/specimen/Raleway);
@import url(https://fonts.google.com/specimen/Open+Sans);


:root {
 --primary-color: hsl(243, 87%, 12%);
 --primary-color-2: hsl(238, 22%, 44%);
 --primary-color-3: rgb(162, 165, 224);
 --Accent: hsl(224, 93%, 58%);
 --Accent-2: hsl(170, 45%, 43%);
 --Neutral: hsl(240, 75%, 98%);
 --Neutral-2: hsl(0, 0%, 75%);
}

* {
 padding: 0;
 list-style-type: none;
 text-decoration: none;
 margin: 0;
}

/*section one*/

nav {
 width: 100%;
 justify-content: space-between;
 margin-top: 1.8em;
}

nav ul {
 float: right;
 margin-right: .4em;
}

nav ul li {
 display: inline;
 padding: 0.8em;
 justify-content: space-between;
 margin-right: -.4em;
}

nav ul li a {
 font-size: 13px;
 font-family: Raleway;
 color: var(--primary-color-2);
 font-weight: bold;
}

.logo {
 padding: 0;
 margin-top: 0em;
 margin-left: 2.5em;
 width: 5em;
 height: 1.5em;
}

.content-below img {
 margin-top: 4em;
 margin-left: 2.5em;
 width: 85%;
}

.about-cta {
 color: var(--primary-color);
 text-align: center;
 width: 90%;
 margin-left: 1em;
 padding: 6px;
}

.text-cta {
 color: var(--primary-color);
 text-align: center;
 width: 90%;
 margin-left: 1em;
}



textarea {
 padding: 0.2em;
 margin-left: -0em;
 outline: 1px solid var(--primary-color-2);
 border-radius: 2px;
}

.content-below-below {
 margin: 1em;
}

.first-email {
 margin-left: 1.9em;
 padding: 10px 8.1rem 10px 17px;
 border: 1px solid var(--primary-color);
 border-radius: 2px;
}

.started {
 color: white;
 padding: 0.7em;
 padding-right: 7.3em;
 padding-left: 7em;
 margin-left: 2.5em;
 margin-right: 2em;
 background: var(--Accent);
 text-align: center;
 border-radius: 4px;
}

.started:hover {
 background: var(--primary-color-3);
}

/*section ended*/

/*section two*/
.illustration-image-2 {
 margin-top: 4em;
 margin-left: 1.5em;
 width: 90%;
}

.productive {
 margin-top: 2em;
}

.stay-cta {
 color: var(--primary-color);
 font-size: 1em;
 text-align: center;
 margin-top: 3.2em;
 padding: 1.5em;
 font-weight: bold;
}

.text-container {
 color: var(--primary-color-2);
 margin-left: 0.8em;
 font-weight: lighter;
 width: 95%;
 line-height: 25px;
}

.text-3-cta {
 margin-top: 1em;
}

.fylo-work {
 text-align: center;
 color: var(--Accent-2);
 font-size: 1.2em;
 position: relative;
 padding: 2.5em;
 text-decoration: underline;
 text-underline-offset: 10px;
 cursor: pointer;

}

.fylo-work::after {
 content: '';
 position: absolute;
 background: url(./images/icon-arrow.svg) no-repeat;
 background-size: contain;
 width: 20px;
 height: 20px;
 margin-left: 4px;
}

/*testimonial incomplete*/
.test-cta::before {
 content: '';
 position: absolute;
 background: url(./images/icon-quotes.svg) no-repeat;
 display: block;
 top: 20px;
 left: 1.7em;
 padding-bottom: 15px;
 background-size: contain;
 width: 22px;
 height: 22px;
}

.test-cta {
 background-color: white;
 background-size: cover;
 display: block;
 height: 40vh;
 width: 80vw;
 margin-left: 2em;
 box-shadow: 0px 1px 3px black;
 position: relative;
 border-radius: 3px;
}


.text-4-cta {
 color: var(--primary-color-2);
 padding-top: 3.5em;
 margin-left: 2em;
 margin-right: 0.5em;

}

.testimonial img {
 border-radius: 50%;
 width: 40px;
 margin-left: 2.8em;
 margin-top: 1.5em;
}

.testimonial strong {
 color: var(--primary-color-2);
 margin-left: 3em;
 position: relative;
 top: 2rem;
 left: 1.4rem;
}

.testimonial strong::before {
 content: '';
 position: absolute;
 background: url(./images/avatar-testimonial.jpg) no-repeat;
 display: block;
 border-radius: 50%;
 background-size: contain;
 width: 30px;
 height: 30px;
}

.testimonial .cite {
 display: block;
 margin-top: 2.8em;
 margin-left: 5.9em;
 color: var(--primary-color-2);
 font-size: 12px;
}

/*end of testimonial*/

.begin-cta {
 background: var(--primary-color-2);
 background-size: cover;
 width: 100%;
 height: 85vh;
 margin-right: 0;
}

.begin-cta-title {
 color: white;
 text-align: center;
 margin-top: 3em;
 padding-top: 3em;
 padding-bottom: 0.8em;
}

.begin-cta-description {
 color: white;
 text-align: center;
 line-height: 25px;
 width: 87%;
 margin-left: 2em;
}

.begin-cta input {
 margin-top: 2em;
 margin-left: 4em;
 padding: 8px 70px 8px 50px;
}


.begin-cta a {
 display: block;
 color: white;
 padding: 0.7em;
 margin-top: 10px;
 margin-left: 3.3em;
 margin-right: 3em;
 background: var(--Accent);
 text-align: center;
 border-radius: 2px;
}

.begin-cta a:hover {
 background: var(--primary-color-3);
}

.contact-info-cta {
 background: var(--primary-color);
 height: 100vh;
 color: white;
}

.contact-info-cta img {
 color: white;
 padding: 2.5em 5em 1em 2em;
}

.contact-info-cta dd {
 margin-left: 3.8em;
 position: relative;
 padding-bottom: 1.5em;
}

.contact-info-cta dd::before {
 content: '';
 position: absolute;
 background: url(./images/icon-phone.svg) no-repeat;
 display: block;
 left: -2em;
 background-size: contain;
 width: 18px;
 height: 18px;
 padding-bottom: 3px;
}

.contact-info-cta .exam-email {
 margin-left: 3.8em;
 position: relative;
}

.contact-info-cta .exam-email::before {
 content: '';
 position: absolute;
 background: url(./images/icon-email.svg) no-repeat;
 display: block;
 left: -2em;
 background-size: contain;
 width: 18px;
 height: 18px;
}

.list-1-cta li a,
.list-2-cta li a {
 color: white;
 padding: 2em;
}

.list-1-cta {
 padding: 1.5em;
}

.list-2-cta {
 padding: 1.5em;
}

.icons {
 margin-left: 10em;
 margin-bottom: 20em;
}

#icon-1-cta,
#icon-2-cta,
#icon-3-cta {
 font-size: 25px;
 margin-right: 8px;
 margin-bottom: 6em;
}

.list-1-cta {
 line-height: 25px;
}

.list-1-cta li :hover {
 color: var(--primary-color-3);
}

.list-2-cta {
 line-height: 25px;
}

.list-2-cta li :hover {
 color: var(--primary-color-3);
}

#icon-1-cta :hover,
#icon-2-cta :hover,
#icon-3-cta :hover {
 color: var(--primary-color-3);
}

@media screen and (min-width: 768px) {
 nav {
  margin-top: 2.5em;
 }

 .logo {
  margin-top: -0.8em;
  width: 10em;
  height: 3em;
 }

 nav ul li a {
  margin-top: -2em;
  margin-left: 2em;
  font-size: 1rem;
 }

 nav ul {
  padding-right: 4em;
 }

 .content-below img {
  width: 40%;
  height: 70vh;
  float: right;
  margin-top: -3em;
  margin-right: 2em;
 }

 .about-cta {
  text-align: left;
  margin-left: 1em;
  margin-top: 2.7em;
  width: 60%;
  line-height: 35px;
  font-size: 2rem;
 }


 .text-cta {
  margin-left: 2.3em;
  text-align: left;
  width: 80%;
 }

 .first-email {
  display: flex;
  margin-left: 1.7em;
  padding-right: 6em;
 }


 .started {
  position: relative;
  top: -2.77em;
  margin-top: -3.4em;
 }

 .started {
  color: white;
  padding: 0.7em;
  padding-right: 3em;
  padding-left: 3em;
  margin-top: -6em;
  margin-left: 19.2em;
  background: var(--Accent);
  text-align: center;
  border-radius: 4px;
 }

 .productive {
  margin-top: 10em;
 }

 .productive img {
  width: 40%;
  float: right;
  align-content: flex-end;
 }

 .stay-cta {
  font-size: 2rem;
  margin-left: -2em;
 }

 .text-container {
  margin-top: -1.5em;
  margin-left: 2em;
  position: relative;
 }

 .fylo-work {
  margin-left: -4em;
  position: absolute;
  left: 3.2em;
  top: 39em;
 }

 .test-cta {
  margin-top: -5em;
  width: 29%;
  padding-top: 2em;
 }

 .begin-cta-title {
  text-align: left;
  margin-left: 2em;
  font-size: 2rem;
 }

 .begin-cta-description {
  text-align: left;
  width: 40%;
  margin-left: 3em;
  font-size: 1.3rem;
 }



 .begin-cta input,
 .begin-cta a {
  float: right;
 }

 .begin-cta input {
  margin-top: -9em;
  margin-right: 10em;
  padding: 10px 200px 10px 50px;
 }

 .begin-cta a {
  margin-top: -4em;
  margin-right: 23.4em;
 }

 .contact-info-cta {
  height: 60vh;
 }


 .contact-info-cta img {
  width: 20%;
 }

 .list-1-cta {
  margin-left: 20em;
  margin-top: -6em;
 }

 .list-2-cta {
  margin-left: 40em;
  margin-top: -9.3em;
 }

 .icons {
  margin-left: 53em;
  margin-top: -6em;
 }

}